solutions/PaymentRequest/Workflows/AddBusinessPlan-8129506A-CF90-ED11-AAD1-0022482A40F8.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ind_sharedcommondataserviceforapps_64f74"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "1da0b36e-84e2-45dd-b7cd-0cd93728c9c9"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "38f2ebca-3dd5-4146-91d8-99e9a5dbab4a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ind_ind_operations",
              "recordId": "@substring(triggerBody()?['id'], 1, 36)"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Add_a_new_row": {
          "runAfter": {
            "Get_a_row_by_ID_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "beff3d7a-7def-47e9-84bc-810ebcb59a0f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ind_ind_businessplans",
              "item/ind_Activity@odata.bind": "/ind_ind_activities(@{outputs('Get_a_row_by_ID')?['body/_ind_activity_value']})",
              "item/ind_Country@odata.bind": "/ind_ind_countries(@{outputs('Get_a_row_by_ID_2')?['body/_ind_country_value']})",
              "item/ind_Customer@odata.bind": "/ind_customers(@{outputs('Get_a_row_by_ID')?['body/_ind_customername_value']})",
              "item/ind_Party@odata.bind": "/ind_parties(@{outputs('Get_a_row_by_ID')?['body/_ind_partyname_value']})",
              "item/ind_Sector@odata.bind": "/ind_sectors(@{outputs('Get_a_row_by_ID')?['body/_ind_sector_value']})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_a_row_by_ID_2": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29b2cd46-6b1b-47f1-82cb-e924d1bd2b73"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ind_parties",
              "recordId": "@outputs('Get_a_row_by_ID')?['body/_ind_partyname_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}