solutions/PaymentRequest/Workflows/Http-DelayUpdatearow2-DC03C75B-5C7C-ED11-81AD-0022482A4894.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4aaa88c7-1980-4816-bc3f-aea6aaa0720c"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "process": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Delay": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "decf6d41-c017-4743-a1df-6473c2add7ec"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 1,
              "unit": "Month"
            }
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "904ed5c0-cc8e-4cc7-a6a1-834a68376d4f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord"
                },
                "parameters": {
                  "entityName": "ind_ind_operations",
                  "recordId": "@triggerBody()?['id']",
                  "item/ind_inordercddi": 100000004,
                  "item/ind_sufficientedd": 100000002
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_2": {
                "actions": {
                  "Update_a_row": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "904ed5c0-cc8e-4cc7-a6a1-834a68376d4f"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "UpdateRecord"
                      },
                      "parameters": {
                        "entityName": "ind_ind_operations",
                        "recordId": "@triggerBody()?['id']",
                        "item/ind_inordercddi": 100000004
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Update_a_row_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "904ed5c0-cc8e-4cc7-a6a1-834a68376d4f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "UpdateRecord"
                        },
                        "parameters": {
                          "entityName": "ind_ind_operations",
                          "recordId": "@triggerBody()?['id']",
                          "item/ind_inordercddi": 100000004,
                          "item/ind_sufficientedd": 100000002
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerBody()?['process']",
                    "CDDI"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "31c84ae6-e9b3-4cd0-9e73-3f69a923a652"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['process']",
              "EDD"
            ]
          },
          "metadata": {
            "operationMetadataId": "fa8a0679-fc60-4cc7-aca6-67856325ce6f"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}